

header {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 35px 100px 0;
	animation: 1s fadein 0.5s forwards;
	opacity: 0;
	
	z-index: 1;

	@keyframes fadein {
	100% {
		opacity: 1;
	}
}

	 h2 {
	font-family: "Quicksand", sans-serif;


}

 	ul.main_nav  {
	display: flex;
	margin-right: -15px;
}

 	ul.main_nav  li {
	margin: 0 15px;
}
}
	.mobile_nav_container {
		display: none;
	}
	 .scrollup {
	    width: 40px;
	    height: 40px;
	    position: fixed;
	    background-color: gray;
	    bottom: 50px;
	    right: 50px;
	    display: none;
	    text-indent: -9999px;
	    background: url('../images/arrow.png') no-repeat;
	    
}


/* Effect : Brackets */
.effect a::before,
.effect a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.effect a::before {
	margin-right: 10px;
	content: '{';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.effect a::after {
	margin-left: 10px;
	content: '}';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.effect a:hover::before,
.effect a:hover::after,
.effect a:focus::before,
.effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
	


@media screen and (max-width: 800px) {
	header {
		padding: 30px 60px;
		flex-direction: column;
	h2 {
		display:none;
}
	nav li {
		font-size: 15px;
}
	ul.main_nav  li {
	margin: 0 15px;
}
	.effect a:hover::before,
	.effect a:hover::after,
	.effect a:focus::before,
	.effect a:focus::after,
	.effect a::before,
	.effect a::after
	{
		display: none;
	}
	.mobile_nav_container {
		display:inline-block;

	}
	ul.main_nav {
		display: none;
	}
	 	ul.mobile_nav  {
	display: flex;
	margin-right: -15px;
}

 	ul.mobile_nav  li {
	margin: 0 15px;
}
	.scrollup {
		right: 20px;
	}

}
}
