
/*Testimonials Section*/

.my-projects {
	
		.grid li {
	height: 300px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
}
 
	.grid li.small {
	flex-basis: 30%;
}

 	.grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	.grid li.small,
	.grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.grid li.small,
	.grid li.large {
		flex-basis: 100%;
	}
}

}


